PathHISZGQJK/Web References/ZszlMQ_ZGQ/MQService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="txt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgtxt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inQueueName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FlagValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMessageResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msgtxt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageToMQ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="txt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgtxt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inQueueName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FlagValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sm" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageToMQResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMessageToMQResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msgtxt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessage2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="txt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgtxt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hostname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="port" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="queueManageName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="channel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inQueue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OutQueue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FlagValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessage2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMessage2Result" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="msgtxt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessage">
        <s:complexType />
      </s:element>
      <s:element name="GetMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMessageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageToMQSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessageToMQ" />
  </wsdl:message>
  <wsdl:message name="SendMessageToMQSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageToMQResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessage2SoapIn">
    <wsdl:part name="parameters" element="tns:SendMessage2" />
  </wsdl:message>
  <wsdl:message name="SendMessage2SoapOut">
    <wsdl:part name="parameters" element="tns:SendMessage2Response" />
  </wsdl:message>
  <wsdl:message name="GetMessageSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="GetMessageSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="MQServiceSoap">
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageSoapIn" />
      <wsdl:output message="tns:SendMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageToMQ">
      <wsdl:input message="tns:SendMessageToMQSoapIn" />
      <wsdl:output message="tns:SendMessageToMQSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage2">
      <wsdl:input message="tns:SendMessage2SoapIn" />
      <wsdl:output message="tns:SendMessage2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <wsdl:input message="tns:GetMessageSoapIn" />
      <wsdl:output message="tns:GetMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MQServiceSoap" type="tns:MQServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://tempuri.org/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageToMQ">
      <soap:operation soapAction="http://tempuri.org/SendMessageToMQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage2">
      <soap:operation soapAction="http://tempuri.org/SendMessage2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="http://tempuri.org/GetMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MQServiceSoap12" type="tns:MQServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageToMQ">
      <soap12:operation soapAction="http://tempuri.org/SendMessageToMQ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage2">
      <soap12:operation soapAction="http://tempuri.org/SendMessage2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap12:operation soapAction="http://tempuri.org/GetMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MQService">
    <wsdl:port name="MQServiceSoap" binding="tns:MQServiceSoap">
      <soap:address location="http://localhost:2089/ZSZL_MQService2010/MQService.asmx" />
    </wsdl:port>
    <wsdl:port name="MQServiceSoap12" binding="tns:MQServiceSoap12">
      <soap12:address location="http://localhost:2089/ZSZL_MQService2010/MQService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>