PathHISZGQJK/Web References/cdyyWeb/ICalculateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://services.founder.com" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="http://services.founder.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.founder.com">
      <xsd:element name="funInterFace">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="funInterFaceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="funInterFaceRequest">
    <wsdl:part name="parameters" element="tns:funInterFace" />
  </wsdl:message>
  <wsdl:message name="funInterFaceResponse">
    <wsdl:part name="parameters" element="tns:funInterFaceResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculateServicePortType">
    <wsdl:operation name="funInterFace">
      <wsdl:input name="funInterFaceRequest" message="tns:funInterFaceRequest" />
      <wsdl:output name="funInterFaceResponse" message="tns:funInterFaceResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ICalculateServiceHttpBinding" type="tns:ICalculateServicePortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="funInterFace">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="funInterFaceRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="funInterFaceResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ICalculateService">
    <wsdl:port name="ICalculateServiceHttpPort" binding="tns:ICalculateServiceHttpBinding">
      <wsdlsoap:address location="http://172.16.80.166:8088/founderWebs/services/ICalculateService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>