LGHISJKZGQ/PATHGETHISZGQ/Web References/zjgsdyrmyyweb/PlatformCommonSvr.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://www.winning.com.cn" targetNamespace="http://www.winning.com.cn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="servicePolicy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsam:Addressing wsp:Optional="true" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
          <wsp:Policy>
            <wsam:AnonymousResponses />
          </wsp:Policy>
        </wsam:Addressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.winning.com.cn">
      <xs:element name="CurServer">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="systemID" type="xs:string" />
            <xs:element minOccurs="0" name="actionCode" type="xs:string" />
            <xs:element minOccurs="0" name="xmlContent" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CurServerResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="returnXml" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CurServerFault">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="payload" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="CurServerFault">
    <wsdl:part name="parameters" element="ns0:CurServerFault" />
  </wsdl:message>
  <wsdl:message name="CurServerRequest">
    <wsdl:part name="parameters" element="ns0:CurServer" />
  </wsdl:message>
  <wsdl:message name="CurServerResponse">
    <wsdl:part name="parameters" element="ns0:CurServerResponse" />
  </wsdl:message>
  <wsdl:portType wsp:PolicyURIs="#servicePolicy" name="PlatformCommonSvrPortType">
    <wsdl:operation name="CurServer">
      <wsdl:input wsaw:Action="urn:CurServer" message="ns0:CurServerRequest" />
      <wsdl:output wsaw:Action="http://www.winning.com.cn/PlatformCommonSvrPortType/CurServerResponse" message="ns0:CurServerResponse" />
      <wsdl:fault wsaw:Action="http://www.winning.com.cn/PlatformCommonSvrPortType/CurServerFault" name="CurServerFault" message="ns0:CurServerFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PlatformCommonSvrSoap11Binding" type="ns0:PlatformCommonSvrPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsaw:UsingAddressing wsdl:required="false" />
    <wsdl:operation name="CurServer">
      <soap:operation soapAction="urn:CurServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CurServerFault">
        <soap:fault use="literal" name="CurServerFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PlatformCommonSvrSoap12Binding" type="ns0:PlatformCommonSvrPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsaw:UsingAddressing wsdl:required="false" />
    <wsdl:operation name="CurServer">
      <soap12:operation soapAction="urn:CurServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CurServerFault">
        <soap12:fault use="literal" name="CurServerFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlatformCommonSvr">
    <wsdl:port name="PlatformCommonSvrHttpSoap11Endpoint" binding="ns0:PlatformCommonSvrSoap11Binding">
      <soap:address location="http://192.168.101.175:1006/services/PlatformCommonSvr.PlatformCommonSvrHttpSoap11Endpoint" />
    </wsdl:port>
    <wsdl:port name="PlatformCommonSvrHttpSoap12Endpoint" binding="ns0:PlatformCommonSvrSoap12Binding">
      <soap12:address location="http://192.168.101.175:1006/services/PlatformCommonSvr.PlatformCommonSvrHttpSoap12Endpoint" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>