LGHISJKZGQ/PATHGETHISZGQ/Web References/xyfyyyweb/DHC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s0="http://tempuri.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <s:element name="DhcService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="funName" type="s:string" />
            <s:element minOccurs="0" name="pInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DhcServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="DhcServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DhcServiceSoapIn">
    <wsdl:part name="parameters" element="s0:DhcService" />
  </wsdl:message>
  <wsdl:message name="DhcServiceSoapOut">
    <wsdl:part name="parameters" element="s0:DhcServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="DHC-Pis-XiangYaOneSoap">
    <wsdl:operation name="DhcService">
      <wsdl:input message="s0:DhcServiceSoapIn" />
      <wsdl:output message="s0:DhcServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DHC-Pis-XiangYaOneSoap" type="s0:DHC-Pis-XiangYaOneSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DhcService">
      <soap:operation soapAction="http://tempuri.org/DHC.Pis.XiangYaOne.BS.Web.DhcService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DHC-Pis-XiangYaOne">
    <wsdl:port name="DHC-Pis-XiangYaOneSoap" binding="s0:DHC-Pis-XiangYaOneSoap">
      <soap:address location="http://192.168.2.51:57772/csp/dhcens/DHC.Pis.XiangYaOne.BS.Web.cls" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>