LGHISJKZGQ/PATHGETHISZGQ/Web References/BLToFZMQWS/FZMQService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendMsgToMQ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="txt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="queueManager" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="service_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apply_unit_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="send_sys_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hospital_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="exec_unit_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="order_exec_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMsgToMQResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMsgToMQResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendBgMsgToMQ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="txt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="queueManager" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="service_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apply_unit_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="send_sys_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hospital_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="exec_unit_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="order_exec_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendBgMsgToMQResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendBgMsgToMQResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendZtMsgToMQ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="txt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="queueManager" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="service_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apply_unit_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="send_sys_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hospital_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="exec_unit_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="order_exec_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendZtMsgToMQResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendZtMsgToMQResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMsgToMQSoapIn">
    <wsdl:part name="parameters" element="tns:SendMsgToMQ" />
  </wsdl:message>
  <wsdl:message name="SendMsgToMQSoapOut">
    <wsdl:part name="parameters" element="tns:SendMsgToMQResponse" />
  </wsdl:message>
  <wsdl:message name="SendBgMsgToMQSoapIn">
    <wsdl:part name="parameters" element="tns:SendBgMsgToMQ" />
  </wsdl:message>
  <wsdl:message name="SendBgMsgToMQSoapOut">
    <wsdl:part name="parameters" element="tns:SendBgMsgToMQResponse" />
  </wsdl:message>
  <wsdl:message name="SendZtMsgToMQSoapIn">
    <wsdl:part name="parameters" element="tns:SendZtMsgToMQ" />
  </wsdl:message>
  <wsdl:message name="SendZtMsgToMQSoapOut">
    <wsdl:part name="parameters" element="tns:SendZtMsgToMQResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="SendMsgToMQ">
      <wsdl:input message="tns:SendMsgToMQSoapIn" />
      <wsdl:output message="tns:SendMsgToMQSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendBgMsgToMQ">
      <wsdl:input message="tns:SendBgMsgToMQSoapIn" />
      <wsdl:output message="tns:SendBgMsgToMQSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendZtMsgToMQ">
      <wsdl:input message="tns:SendZtMsgToMQSoapIn" />
      <wsdl:output message="tns:SendZtMsgToMQSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMsgToMQ">
      <soap:operation soapAction="http://tempuri.org/SendMsgToMQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBgMsgToMQ">
      <soap:operation soapAction="http://tempuri.org/SendBgMsgToMQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendZtMsgToMQ">
      <soap:operation soapAction="http://tempuri.org/SendZtMsgToMQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMsgToMQ">
      <soap12:operation soapAction="http://tempuri.org/SendMsgToMQ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBgMsgToMQ">
      <soap12:operation soapAction="http://tempuri.org/SendBgMsgToMQ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendZtMsgToMQ">
      <soap12:operation soapAction="http://tempuri.org/SendZtMsgToMQ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://172.168.35.249/BLToMQWebSrv/FZMQService.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://172.168.35.249/BLToMQWebSrv/FZMQService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>