PathHISZGQJK/Web References/gdsrmyyWeb/EventBus0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JetSun.Core.ServiceModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JetSun.Core.ServiceModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EventMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentMime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Custom1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Custom2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Custom3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Custom4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Custom5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventEndOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventII" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationII" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalEventII" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Receiver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectII" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventMessage" nillable="true" type="tns:EventMessage" />
  <xs:complexType name="EventPublishResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventPublishResponse" nillable="true" type="tns:EventPublishResponse" />
</xs:schema>