PathHISZGQJK/Web References/gdsrmyyWeb/EventBus.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="JetSun.ServiceBus" elementFormDefault="qualified" targetNamespace="JetSun.ServiceBus" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://svrdebug.test.com/CoreService/EventBus.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JetSun.Core.ServiceModel" />
  <xs:element name="Publish">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JetSun.Core.ServiceModel" minOccurs="0" name="msg" nillable="true" type="q1:EventMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JetSun.Core.ServiceModel" minOccurs="0" name="PublishResult" nillable="true" type="q2:EventPublishResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XmlPublish">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XmlPublishResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XmlPublishResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>