PathHISZGQJK/Web References/SZSZYY/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="WebService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="WebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="WebService">
      <s:element name="Init">
        <s:complexType />
      </s:element>
      <s:element name="InitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InitResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFlag">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrdID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InOut" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Flag" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFlagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetFlagResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCompleteWebURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrdID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InOut" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ResultAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCompleteWebURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetCompleteWebURLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatiInfoByOrg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CardID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Flag" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="OrgID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatiInfoByOrgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPatiInfoByOrgResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InitSoapIn">
    <wsdl:part name="parameters" element="tns:Init" />
  </wsdl:message>
  <wsdl:message name="InitSoapOut">
    <wsdl:part name="parameters" element="tns:InitResponse" />
  </wsdl:message>
  <wsdl:message name="SetFlagSoapIn">
    <wsdl:part name="parameters" element="tns:SetFlag" />
  </wsdl:message>
  <wsdl:message name="SetFlagSoapOut">
    <wsdl:part name="parameters" element="tns:SetFlagResponse" />
  </wsdl:message>
  <wsdl:message name="SetCompleteWebURLSoapIn">
    <wsdl:part name="parameters" element="tns:SetCompleteWebURL" />
  </wsdl:message>
  <wsdl:message name="SetCompleteWebURLSoapOut">
    <wsdl:part name="parameters" element="tns:SetCompleteWebURLResponse" />
  </wsdl:message>
  <wsdl:message name="GetPatiInfoByOrgSoapIn">
    <wsdl:part name="parameters" element="tns:GetPatiInfoByOrg" />
  </wsdl:message>
  <wsdl:message name="GetPatiInfoByOrgSoapOut">
    <wsdl:part name="parameters" element="tns:GetPatiInfoByOrgResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="Init">
      <wsdl:input message="tns:InitSoapIn" />
      <wsdl:output message="tns:InitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetFlag">
      <wsdl:input message="tns:SetFlagSoapIn" />
      <wsdl:output message="tns:SetFlagSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCompleteWebURL">
      <wsdl:input message="tns:SetCompleteWebURLSoapIn" />
      <wsdl:output message="tns:SetCompleteWebURLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPatiInfoByOrg">
      <wsdl:input message="tns:GetPatiInfoByOrgSoapIn" />
      <wsdl:output message="tns:GetPatiInfoByOrgSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Init">
      <soap:operation soapAction="WebService/Init" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFlag">
      <soap:operation soapAction="WebService/SetFlag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCompleteWebURL">
      <soap:operation soapAction="WebService/SetCompleteWebURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatiInfoByOrg">
      <soap:operation soapAction="WebService/GetPatiInfoByOrg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Init">
      <soap12:operation soapAction="WebService/Init" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFlag">
      <soap12:operation soapAction="WebService/SetFlag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCompleteWebURL">
      <soap12:operation soapAction="WebService/SetCompleteWebURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatiInfoByOrg">
      <soap12:operation soapAction="WebService/GetPatiInfoByOrg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.0.100.53:8080/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.0.100.53:8080/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>