PathHISZGQJK/Web References/sh7yWeb/ExamResultInput.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://155.165.13.14:8085/ExamResultService/services/ExamResultInput" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:intf="http://155.165.13.14:8085/ExamResultService/services/ExamResultInput" targetNamespace="http://155.165.13.14:8085/ExamResultService/services/ExamResultInput" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="validateItemRequest">
    <wsdl:part name="jsonstr" type="soapenc:string" />
    <wsdl:part name="jyzx" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="isAliveRequest" />
  <wsdl:message name="validateItemResponse">
    <wsdl:part name="validateItemReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="queryBaseSnResponse">
    <wsdl:part name="queryBaseSnReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getNameRequest" />
  <wsdl:message name="queryBaseSnRequest">
    <wsdl:part name="name1" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="updateItemResponse">
    <wsdl:part name="updateItemReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="isAliveResponse">
    <wsdl:part name="isAliveReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getNameResponse">
    <wsdl:part name="getNameReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="updateItemRequest">
    <wsdl:part name="jsonstr" type="soapenc:string" />
    <wsdl:part name="jyzx" type="soapenc:string" />
  </wsdl:message>
  <wsdl:portType name="webservice">
    <wsdl:operation name="getName">
      <wsdl:input name="getNameRequest" message="intf:getNameRequest" />
      <wsdl:output name="getNameResponse" message="intf:getNameResponse" />
    </wsdl:operation>
    <wsdl:operation name="isAlive">
      <wsdl:input name="isAliveRequest" message="intf:isAliveRequest" />
      <wsdl:output name="isAliveResponse" message="intf:isAliveResponse" />
    </wsdl:operation>
    <wsdl:operation name="queryBaseSn" parameterOrder="name1">
      <wsdl:input name="queryBaseSnRequest" message="intf:queryBaseSnRequest" />
      <wsdl:output name="queryBaseSnResponse" message="intf:queryBaseSnResponse" />
    </wsdl:operation>
    <wsdl:operation name="validateItem" parameterOrder="jsonstr jyzx">
      <wsdl:input name="validateItemRequest" message="intf:validateItemRequest" />
      <wsdl:output name="validateItemResponse" message="intf:validateItemResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateItem" parameterOrder="jsonstr jyzx">
      <wsdl:input name="updateItemRequest" message="intf:updateItemRequest" />
      <wsdl:output name="updateItemResponse" message="intf:updateItemResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExamResultInputSoapBinding" type="intf:webservice">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getName">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getNameRequest">
        <wsdlsoap:body use="encoded" namespace="http://exam.rich.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getNameResponse">
        <wsdlsoap:body use="encoded" namespace="http://155.165.13.14:8085/ExamResultService/services/ExamResultInput" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isAlive">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="isAliveRequest">
        <wsdlsoap:body use="encoded" namespace="http://exam.rich.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="isAliveResponse">
        <wsdlsoap:body use="encoded" namespace="http://155.165.13.14:8085/ExamResultService/services/ExamResultInput" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryBaseSn">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="queryBaseSnRequest">
        <wsdlsoap:body use="encoded" namespace="http://exam.rich.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="queryBaseSnResponse">
        <wsdlsoap:body use="encoded" namespace="http://155.165.13.14:8085/ExamResultService/services/ExamResultInput" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateItem">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="validateItemRequest">
        <wsdlsoap:body use="encoded" namespace="http://exam.rich.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="validateItemResponse">
        <wsdlsoap:body use="encoded" namespace="http://155.165.13.14:8085/ExamResultService/services/ExamResultInput" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateItem">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="updateItemRequest">
        <wsdlsoap:body use="encoded" namespace="http://exam.rich.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="updateItemResponse">
        <wsdlsoap:body use="encoded" namespace="http://155.165.13.14:8085/ExamResultService/services/ExamResultInput" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="webserviceService">
    <wsdl:port name="ExamResultInput" binding="intf:ExamResultInputSoapBinding">
      <wsdlsoap:address location="http://155.165.13.14:8085/ExamResultService/services/ExamResultInput" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>